body { 
	margin: 2rem; 
	font: 16px/1.6 system-ui, -apple-system, Segoe UI, Roboto, Ubuntu; 
}

pre, code {
	font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace; 
}

pre {
	overflow:auto; 
	padding:1rem; 
	background:#f6f8fa; 
	border-radius:.5rem; 
}

blockquote {
	border-left:4px solid #ddd; 
	margin:1rem 0; 
	padding:.5rem 1rem; 
	color:#555; 
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse; /* gör att linjerna inte blir dubbla */
}

th, td {
	padding: 6px;
	/* text-align: left; */
}
